<div class="col-md-24">
    <div class="col-md-6">
        satu
    </div>
    <div class="col-md-18">
        <%= @pinter.satu %>
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-6">
        dua
    </div>
    <div class="col-md-18">
        <%= @pinter.dua %>
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-6">
        tiga
    </div>
    <div class="col-md-18">
        <%= @pinter.tiga %>
    </div>
</div>
